.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 1230px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
}
h2 {
  color: #1c1b22;
  font-family: "Museo";
  font-size: 30px;
  font-weight: 400;
  line-height: 48px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
.btn {
  display: inline-block;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 700;
  line-height: 40px;
  color: #1c1b22;
  letter-spacing: 1.05px;
  border-radius: 20px;
  background-color: #efc33d;
}
